.slick-slide,
.slick-slide * {
  outline: none !important;
}

.fadeout-elements {
  position: relative;
}

.fadeout-elements:before,
.fadeout-elements:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100px;
  top: 0;
  height: 100%;
  pointer-events: none; /*makes the linkes behind clickable*/
}

.fadeout-elements:before {
  left: 0;
  background: linear-gradient(to right, #231f32 25px, rgba(0, 0, 0, 0));
}

.fadeout-elements:after {
  right: 0;
  background: linear-gradient(to left, #231f32 25px, rgba(0, 0, 0, 0));
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.slick-dots li {
  width: 40px;
  height: 50px;
}

.slick-dots li > div > div:nth-child(1) {
  display: none;
}

.slick-dots li > div > div:nth-child(2) {
  display: inline-flex;
}

.slick-dots li.slick-active > div > div:nth-child(1) {
  display: inline-flex;
}

.slick-dots li.slick-active > div > div:nth-child(2) {
  display: none;
}

.slick-dots {
  display: inline-flex !important;
  position: initial;
  text-align: start;
  margin-top: 30px;
}

@media (max-width: 479px) {
  .slick-dots {
    justify-content: center;
  }
}

.slick-dots > li:last-child {
  width: 80px;
}

.slick-dots > li:last-child > div > div:last-child {
  display: inline-flex;
}

#token-slider-text .slick-track {
  display: flex;
  align-items: center;
}

* {
  min-width: 0;
}

@media (min-width: 1030px) {
  .fadeout-elements-signup {
    position: relative;
  }

  .fadeout-elements-signup:before,
  .fadeout-elements-signup:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    pointer-events: none; /*makes the linkes behind clickable*/
  }

  .fadeout-elements-signup:before {
    top: 0;
    background: linear-gradient(to bottom, #231f32 35px, rgba(0, 0, 0, 0));
  }

  .fadeout-elements-signup:after {
    bottom: 0;
    background: linear-gradient(to top, #231f32 35px, rgba(0, 0, 0, 0));
  }
}

@media (min-width: 1175px) {
  .fadeout-elements-header {
    position: relative;
  }

  .fadeout-elements-header:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 100%;
    top: 0;
    pointer-events: none; /*makes the linkes behind clickable*/
  }

  .fadeout-elements-header:after {
    right: 0;
    background: linear-gradient(to left, #231f32 10px, rgba(0, 0, 0, 0));
  }
}
